ItemInfoDataModel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:complexType name="PartyListType">
		<xs:sequence>
			<xs:element name="Party" type="PartyType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyType">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Name" type="NameType"/>
				<xs:element name="CompanyName">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="1"/>
							<xs:maxLength value="70"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:choice>
			<xs:element name="Contact" type="ContactType"/>
			<xs:element name="Description" type="xs:string"/>
		</xs:sequence>
		<xs:attribute name="PartyCode" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="NameType">
		<xs:sequence>
			<xs:element name="FullName" type="xs:string"/>
			<xs:element name="FirstName">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="LastName">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="35"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Gender">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="M|F|C|U"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContactType">
		<xs:sequence>
			<xs:element name="ContactName" type="NameType"/>
			<xs:element name="Address" type="AddressType" minOccurs="0"/>
			<xs:element name="Phone1" type="PhoneType" minOccurs="0"/>
			<xs:element name="Phone2" type="PhoneType" minOccurs="0"/>
			<xs:element name="Fax" type="PhoneType" minOccurs="0"/>
			<xs:element name="Email" minOccurs="0">
				<xs:simpleType>
					<xs:union memberTypes="empty-string GoodEmailType"/>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EmailConfirm" minOccurs="0">
				<xs:simpleType>
					<xs:union memberTypes="empty-string GoodEmailType"/>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MunicipalityDataType">
		<xs:sequence>
			<xs:element name="RegionCode" type="xs:string" minOccurs="0"/>
			<xs:element name="CountyCode" type="xs:string" minOccurs="0"/>
			<xs:element name="MunicipalityCode" type="xs:string" minOccurs="0"/>
			<xs:element name="MunicipalityName" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NameValueDataType">
		<xs:sequence>
			<xs:element name="Name" type="xs:string" minOccurs="0"/>
			<xs:element name="Value" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddressType">
		<xs:sequence>
			<xs:element name="AddressLine1" type="xs:string"/>
			<xs:element name="AddressLine2" type="xs:string"/>
			<xs:element name="AddressLine3" type="xs:string"/>
			<xs:element name="StreetAddress">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="60"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="UnitNumber" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="City">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="1"/>
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Province">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
						<xs:minLength value="1"/>
						<xs:pattern value="ON|AB|BC|MB|NB|NF|NT|NS|NU|PE|QC|SK|YT|AL|AK|AZ|AR|CA|CO|CT|DE|DC|FL|GA|HI|ID|IL|IN|IA|KS|KY|LA|ME|MD|MA|MI|MN|MS|MO|MT|NE|NV|NH|NJ|NM|NY|NC|ND|OH|OK|OR|PA|RI|SC|SD|TN|TX|UT|VT|VA|WA|WV|WI|WY|OT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PostalCode">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="7"/>
						<xs:minLength value="1"/>
						<xs:pattern value="[a-zA-Z]\d[a-zA-Z][- ]?\d[a-zA-Z]\d|\d{5}(-\d{4})?|.*"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Country">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
						<xs:pattern value="CA|US|OT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="IsValid" type="TriStateType"/>
	</xs:complexType>
	<xs:complexType name="PhoneType">
		<xs:sequence>
			<xs:element name="FullNumber" type="xs:string"/>
			<xs:element name="AreaCode">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="3"/>
						<xs:pattern value="\d+"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Number">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="8"/>
						<xs:pattern value="\d+"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Extension" minOccurs="0">
				<xs:simpleType>
					<xs:union memberTypes="empty-string">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:maxLength value="4"/>
								<xs:pattern value="\d+"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:union>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="GoodEmailType">
		<xs:restriction base="xs:string">
			<xs:maxLength value="35"/>
			<xs:pattern value="[^@]+@[^.]+\..+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="empty-string">
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TriStateType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Y"/>
			<xs:enumeration value="N"/>
			<xs:enumeration value="U"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LanguageType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="EN"/>
			<xs:enumeration value="FR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DateTimeWrapperType">
		<xs:sequence>
			<xs:element name="Description" type="xs:string"/>
			<xs:element name="Value" type="xs:dateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BooleanWrapperType">
		<xs:sequence>
			<xs:element name="Value" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IntWrapperType">
		<xs:sequence>
			<xs:element name="Value" type="xs:int"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DoubleWrapperType">
		<xs:sequence>
			<xs:element name="Value" type="xs:double"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PayByCreditCardType">
		<xs:sequence>
			<xs:element name="CardNumber" type="xs:string"/>
			<xs:element name="ExpiryMonth" type="xs:string"/>
			<xs:element name="ExpiryYear" type="xs:string"/>
			<xs:element name="CardType" type="CardTypeType"/>
			<xs:element name="Amount" type="xs:string" minOccurs="0"/>
			<xs:element name="CardHolderName" type="xs:string"/>
			<xs:element name="VerificationCode" type="xs:string" minOccurs="0"/>
			<xs:element name="Address" type="AddressType" minOccurs="0"/>
			<xs:element name="AuthorizationCode" type="xs:string" minOccurs="0"/>
			<xs:element name="ReceiptID" type="xs:string" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="Profile" default="Y"/>
	</xs:complexType>
	<xs:simpleType name="NotificationPreferenceType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Email"/>
			<xs:enumeration value="SurfaceMail"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CardTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Unknown"/>
			<xs:enumeration value="VI"/>
			<xs:enumeration value="MC"/>
			<xs:enumeration value="AM"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="LocationType">
		<xs:sequence>
			<xs:element name="LocationName" type="xs:string"/>
			<xs:element name="LocationLongName" type="xs:string"/>
			<xs:element name="LocationID" type="IntWrapperType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PriceType">
		<xs:sequence>
			<xs:element name="PriceCurrency" type="xs:string"/>
			<xs:element name="PriceString" type="xs:string"/>
			<xs:element name="PriceID" type="DoubleWrapperType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MyCategoryType">
		<xs:sequence>
			<xs:element name="CategoryName" type="xs:string"/>
			<xs:element name="CategoryLongName" type="xs:string"/>
			<xs:element name="CategoryID" type="IntWrapperType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QuantityType">
		<xs:sequence>
			<xs:element name="ItemQuantity" type="ItemQuantityType"/>
			<xs:element name="QuantityValue" type="IntWrapperType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ItemQuantityType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="All"/>
			<xs:enumeration value="LessThan"/>
			<xs:enumeration value="LessThanOrEqual"/>
			<xs:enumeration value="GreaterThanOrEqual"/>
			<xs:enumeration value="GreaterThan"/>
			<xs:enumeration value="Equal"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ItemSaleFormatType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="All"/>
			<xs:enumeration value="Auction"/>
			<xs:enumeration value="BuyItNow"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SortOrderType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="LowestPrice"/>
			<xs:enumeration value="HighestPrice"/>
			<xs:enumeration value="Location"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="SearchScopeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="T"/>
			<xs:enumeration value="TD"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AdSourceEnumType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="NONE"/>
			<xs:enumeration value="EBA"/>
			<xs:enumeration value="GOO"/>
			<xs:enumeration value="AMA"/>
			<xs:enumeration value="CJ"/>
			<xs:enumeration value="EBA,GOO,AMA,CJ"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ThemeType">
		<xs:sequence>
			<xs:element name="ThemeTime" type="xs:string"/>
			<xs:element name="ThemeName" type="xs:string"/>
			<xs:element name="ThemeKeywords" type="xs:string"/>
			<xs:element name="ThemeImgURL" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ItemSourceType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MyDB"/>
			<xs:enumeration value="Ebay"/>
			<xs:enumeration value="Amazon"/>
			<xs:enumeration value="Google"/>
			<xs:enumeration value="CJ"/>
			<xs:enumeration value="Other"/>
			<xs:enumeration value="NONE"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:element name="WhadaaData" type="WhadaaDataType">
		<xs:annotation>
			<xs:documentation>container for all case related data</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="WhadaaDataType">
		<xs:sequence>
			<xs:element ref="ItemList" minOccurs="0"/>
			<xs:element name="ItemCategoryList" type="ItemCategoryListType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ItemList" type="ItemListType"/>
	<xs:complexType name="ItemListType">
		<xs:sequence>
			<xs:element name="ItemInfo" type="ItemInfoType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ItemInfoType">
		<xs:sequence>
			<xs:element name="ItemInternalID" type="xs:string"/>
			<xs:element name="ItemID" type="xs:string"/>
			<xs:element name="ItemSource" type="ItemSourceType"/>
			<xs:element name="ItemName" type="xs:string"/>
			<xs:element name="ItemThumbImageURL" type="xs:string"/>
			<xs:element name="ItemPictureURL" type="xs:string" maxOccurs="unbounded"/>
			<xs:element name="ItemInternalURL" type="xs:string"/>
			<xs:element name="ItemURL" type="xs:string"/>
			<xs:element name="ItemShortDescription" type="xs:string"/>
			<xs:element name="ItemDescription" type="xs:string"/>
			<xs:element name="ItemLocation" type="LocationType"/>
			<xs:element name="ItemPrice" type="PriceType"/>
			<xs:element name="ItemCategory" type="MyCategoryType"/>
			<xs:element name="Quantity" type="QuantityType"/>
			<xs:element name="ItemSaleFormat" type="ItemSaleFormatType"/>
			<xs:element name="ReturnAttribute" type="ReturnAttributeType" minOccurs="0"/>
			<xs:element name="ItemSeller" type="SellerType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReturnAttributeType">
		<xs:sequence>
			<xs:element name="TotalNumberOfItems" type="IntWrapperType" minOccurs="0"/>
			<xs:element name="TotalNumberOfPages" type="IntWrapperType" minOccurs="0"/>
			<xs:element name="CurrentPage" type="IntWrapperType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ThemeList" type="ThemeListType"/>
	<xs:complexType name="ThemeListType">
		<xs:sequence>
			<xs:element name="Theme" type="ThemeType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ItemCategoryListType">
		<xs:sequence>
			<xs:element name="ItemCategory" type="MyCategoryType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SellerType">
		<xs:sequence>
			<xs:element name="SellerID" type="xs:string" minOccurs="0"/>
			<xs:element name="SellerName" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DSSpecificItemListType">
		<xs:sequence>
			<xs:element name="DSSpecificItem" type="DSSpecificItemType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DSSpecificItemType">
		<xs:sequence>
			<xs:element name="ItemSource" type="ItemSourceType"/>
			<xs:element ref="WhadaaData" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- end of search external sources -->
</xs:schema>
